@{ ViewData["Title"] = "Home Page"; }

@model IEnumerable<Jungle_Models.Travel>


<div class="text-center">
  <h1 class="display-4">Welcome everybody!</h1>
  <p>The travel's list available soon!</p>

  <div class="container p-3">
  <div class="row pt-4">
    <div class="col-10">
      <h2 class="text-primary">Destination</h2>
    </div>
    <div class="col-2 text-right">
      <a asp-controller="Destination" asp-action="upsert" class="btn btn-success">
        <i class="fas fa-plus-circle"></i>&nbsp;Create New Destination
      </a>
    </div>
  </div>

  <br /><br />
  @if (Model.Count() > 0)
  {
    <table class="table table-bordered table-striped" style="width:100%">
      <thead class="bg-dark text-white">
        <tr>
          <th>
            Name
          </th>
          <th>
            DepartureDate
          </th>
          <th>
            Destination
          </th>
          <th>
            Duration 
          </th>
          <th>
            Travel Recommendation
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {

        <tr>
          <td width="35%">@item.Name</td>
          <td width="20%">@item.DepartureDate</td>
          <td width="15%">@item.Destination</td>
          <td width="15%">@item.Duration days</td>
          <td width="15%">@item.TravelRecommendation.Description </td>
          <td width="30%" class="text-center">
            <div class="w-75 btn-group" role="group">
              <a asp-controller="Destination" asp-action="upsert" asp-route-Id="@item.Id" class="btn btn-warning mx-2">
                <i class="fas fa-edit"></i> &nbsp; Edit
              </a>
              <a asp-controller="Destination" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-2">
                <i class="fas fa-trash-alt"></i> &nbsp; Delete
              </a>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <p>No destination exists.</p>
  }
</div>

</div>